


@media (max-width:1329px) {
    .right-bottom-info{
        width: 100%;
    }
    .right-top-info{
        width: 100%;
    }
    .link-holder{
        width: 100%;
    }
    .link-holder ul{
        width: 100%;
    }
}

@media (max-width:1129px) {
    .header-left{
        width: 50%;
    }
    .right-info{
        width: 65%;
        margin-left: 0;
    }
    .left-info{
        width: 35%;
    }
    .left-info h3{
        font-size: 2.3rem;
    }
    .left-footer h4{
        font-size: 30px;
    }
}

@media (max-width:868px) {
    .link-holder h3{
        font-size: 22px;
    }
    .link-holder ul{
        font-size: 12px;
    }
    .left-info h3{
        font-size: 1.8rem;
    }
    .right-info-content{
        padding-right: 1.1rem;
    }
}

@media (max-width:790px) {
    .header-container{
        width: 95%;
        margin: 0 auto;
    }
    .link-holder h3{
        font-size: 20px;
    }
    .link-holder ul{
        font-size: 10px;
    }
    .left-info h3{
        font-size: 1.5rem;
    }
    .right-info h5{
        font-size: 15px;
    }
    .right-info p{
        font-size: 12px;
    }
    .info-section-container{
        width: 95%;
        margin: 0 auto;
    }
    footer{
        width: 95%;
        margin: 0 auto;
    }
}

@media (max-width:656px) {
    footer{
        flex-direction: column;
        padding: 20px;
    }
    .left-footer{
        display: none;
    }
    .right-footer{
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }
    .right-footer button{
        width: 100%;
        margin-top: 15px;
    }
    .right-footer input{
        width: 100%;
    }
    .info-section-container{
        flex-direction: column;
    }
    .right-info-content{
        padding: 0;
    }
    .left-info{
        width: 80%;
        margin: 0 auto;
    }
    .left-info h3{
        font-size: 2.7rem;
    }
    .left-info button{
        padding: 35px 0;
    }
    .right-info{
        width: 80%;
        margin: 0 auto;
    }
    .right-info-content{
        padding-right: 0;
    }
    .right-info-content h5{
        font-size: 23px;
    }
    .right-info-content p{
        font-size: 17px;
        padding-top: 0;
        padding-bottom: 25px;
    }
    .right-top-info{
        flex-direction: column;
    }
    .right-bottom-info{
        flex-direction: column;
    }
    .link-holder{
        display: none;
    }
    .header-right{
        display: none;
    }
    .text-area{
        padding: 90px 0 170px;
    }
    .text-area p{
        color: #F7F8F9;
    }
    .header-container{
        width: 100%;
        background: url(./images/Picture.png);
    }
    .mobile-nav{
        /* border: 2px solid green; */
        display: block;
    }
    .header-left{
        width: 100%;
        text-align: center;
    }
    .text-area h1, .text-area h5, .text-area i{
        color: white;
    }
    .text-area i{
        border: 1px solid white;
    }
    .text-area h1{
        padding: 65px 0;
    }

}

@media (max-width:500px){
    .left-info{
        width: 90%;
        margin: 0 auto;
    }
    .right-info{
        width: 90%;
        margin: 0 auto;
    }
    
}

@media (max-width:440px) {
    .right-info-content{
        width: 300px;
    }
    
}
@media (max-width:334px) {
    .right-info-content{
        width: 240px;
    }
    .left-info h3{
        font-size: 30px;
    }
    .right-info-content h5{
        font-size: 20px;
    }
}