@media (max-width: 1329px) {
  .right-info-cont {
    border: 2px solid green;
    width: 100%;
  }
  .link-holder {
    width: 100%;
  }
  .link-holder ul {
    width: 100%;
  }
  .header-slider_images {
    width: 90%;
    margin-right: 0;
  }
}
@media (max-width: 1129px) {
  .header-left {
    width: 50%;
  }
  .right-info {
    width: 65%;
    margin-left: 0;
  }
  .left-info {
    width: 35%;
  }
  .left-info h3 {
    font-size: 2.3rem;
  }
  .left-footer h4 {
    font-size: 30px;
  }
}
@media (max-width: 868px) {
  .link-holder h3 {
    font-size: 22px;
  }
  .link-holder ul {
    font-size: 12px;
  }
  .left-info h3 {
    font-size: 1.8rem;
  }
  .right-info-content {
    padding-right: 1.1rem;
  }
  .header-slider_images {
    width: 95%;
    margin-right: 0;
    padding-left: 10px;
  }
  .inspiration-container {
    width: 85%;
    margin: 0 auto;
    padding-left: 10px;
  }
  .inspiration-container h3 {
    font-size: 34px;
  }
  .inspiration-container p {
    width: 40%;
  }
}
@media (max-width: 790px) {
  .header-container {
    width: 95%;
    margin: 0 auto;
  }
  .link-holder h3 {
    font-size: 20px;
  }
  .link-holder ul {
    font-size: 10px;
  }
  .left-info {
    padding-left: 10px;
  }
  .left-info h3 {
    font-size: 1.5rem;
  }
  .right-info h5 {
    font-size: 15px;
  }
  .right-info p {
    font-size: 12px;
  }
  .info-section-container {
    width: 95%;
    margin: 0 auto;
  }
  .footer {
    width: 95%;
    margin: 0 auto;
  }
  .inspiration-container {
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
  }
  .header-slider_images {
    width: 100%;
    margin-right: 0;
    padding-left: 10px;
  }
}
@media (max-width: 686px) {
  .header-slider_images {
    width: 100%;
  }
  .info-section-container {
    width: 100%;
  }
}
@media (max-width: 656px) {
  .footer {
    flex-direction: column;
    padding: 20px;
  }
  .footer .left-footer {
    display: none;
  }
  .footer .right-footer {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  .footer .right-footer button {
    width: 100%;
    margin-top: 15px;
  }
  .footer .right-footer input {
    width: 100%;
  }
  .info-section-container {
    flex-direction: column;
  }
  .info-section-container .left-info {
    width: 80%;
    margin: 0 auto;
    padding-left: 0;
  }
  .info-section-container .left-info h3 {
    font-size: 2.7rem;
  }
  .info-section-container .left-info button {
    padding: 35px 0;
  }
  .info-section-container .right-info {
    width: 80%;
    margin: 0 auto;
  }
  .info-section-container .right-info .right-info-cont {
    flex-direction: column;
  }
  .info-section-container .right-info .right-info-cont .right-info-content {
    padding: 0;
  }
  .info-section-container .right-info .right-info-cont .right-info-content h5 {
    font-size: 23px;
  }
  .info-section-container .right-info .right-info-cont .right-info-content p {
    font-size: 17px;
    padding-top: 0;
    padding-bottom: 25px;
  }
  .link-holder {
    display: none;
  }
  .header-right {
    display: none;
  }
  .text-area {
    padding: 60px 0;
  }
  .text-area p {
    color: #F7F8F9;
  }
  .header-container {
    width: 100%;
    background: url(./images/Picture.png);
    background-position: center;
    background-size: cover;
  }
  .mobile-nav {
    /* border: 2px solid green; */
    display: block;
  }
  .header-left {
    width: 100%;
    text-align: center;
  }
  .text-area h1, .text-area h5, .text-area i {
    color: white;
  }
  .text-area i {
    border: 1px solid white;
  }
  .text-area h1 {
    padding: 50px 0;
  }
  .inspiration-container {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
  .inspiration-container h3 {
    font-weight: 700;
  }
  .inspiration-container p {
    width: 90%;
    margin-left: 0;
    padding: 20px 0;
  }
  .prev, .next {
    display: none;
  }
  .slideshow-container {
    display: none;
  }
  .mipics {
    display: block;
    padding-left: 0;
  }
  .mipics-img {
    padding-left: 0;
  }
}
@media (max-width: 500px) {
  .left-info {
    width: 90%;
    margin: 0 auto;
  }
  .right-info {
    width: 90%;
    margin: 0 auto;
  }
  .inspiration-container {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding-left: 0;
  }
  .mipics-img {
    width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 440px) {
  .right-info-content {
    width: 300px;
  }
}
@media (max-width: 334px) {
  .right-info-content {
    width: 240px;
  }
  .left-info h3 {
    font-size: 30px;
  }
  .right-info-content h5 {
    font-size: 20px;
  }
}/*# sourceMappingURL=mobile.css.map */