*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* starts here  */
/* ends here  */
/* starts here  */
/* ends here  */
/* starts here  */
/* ends here  */
/* starts here  */
/* ends here  */